@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__bg{
  border-radius: 0.5rem/* 8px */;
  margin: 1rem/* 12px */;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem/* 24px */;
  display: flex;
  background: var(--color-footer);
  justify-content: space-between;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }  
}


/*Navbar*/
.toolsik__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 6rem;
}

.toolsik__navbar-links {
  flex: 2;
  display: flex;
  justify-content: inherit;
  align-items: center;
}

.toolsik__navbar-links_logo {
  margin-right: 2rem;
}

.toolsik__navbar-links_logo img {
  width: 200px;
  height: 40px;
}

.toolsik__navbar-links_container {
  display: flex;
  align-items: center;
}



.toolsik__navbar-links_container p,
.toolsik__navbar-sign p,
.toolsik__navbar-menu_container p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;

  margin: 0 1rem;
  cursor: pointer;
}

.toolsik__navbar-sign button,
.toolsik__navbar-menu_container button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #FF4820;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.toolsik__navbar-menu {
  margin-left: 1rem;

  display: none;
  position: relative;
}

.toolsik__navbar-menu svg {
  cursor: pointer;
}

.toolsik__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  
  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 40px;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}

.toolsik__navbar-menu_container p {
  margin: 1rem 0;
}

.toolsik__navbar-menu_container-links-sign {
  display: none;
}

@media screen and (max-width: 1050px) {
  .toolsik__navbar-links_container {
      display: none;
  }

  .toolsik__navbar-menu {
      display: flex;
  }
}

@media screen and (max-width: 700px) {
  .toolsik__navbar {
      padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .toolsik__navbar {
      padding: 2rem;
  }

  .toolsik__navbar-sign {
      display: none;
  }

  .toolsik__navbar-menu_container {
      top: 20px;
  }

  .toolsik__navbar-menu_container-links-sign {
      display: block;
  }
}


/*Header*/
.toolsik__header {
  display: flex;
  flex-direction: row;
}

.toolsik__section__full {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolsik__section__hero {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolsik__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;
}

.toolsik__header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.toolsik__header-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-text);

  margin-top: 1.5rem;
}

.toolsik__header-content__input {
  width: 100%;
  margin: 2rem 0 1rem;

  display: flex;
  flex-direction: row;
}


.toolsik__header-content__input button {
  flex: 1;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: #FF4820;
  border: 2px solid #FF4820;
  padding: 0 1rem;
  color: #fff;
  cursor: pointer;
  outline: none;

  border-radius: 5px;
}



.toolsik__header-content__people p {
  margin: 0 0 0 1rem;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 38px;
  color: #fff;
  text-align: center;
}

.toolsik__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolsik__header-image img {
  width: 75%;
  height: 75%;
}

@media screen and (max-width: 1050px) {
  .toolsik__header {
      flex-direction: column;
  }

  .toolsik__header-content {
      margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .toolsik__header-content h1 {
      font-size: 48px;
      line-height: 60px;
  }

  .toolsik__header-content p {
      font-size: 16px;
      line-height: 24px;
  }
  
  .toolsik__header-content__people {
      flex-direction: column;
  }

  .toolsik__header-content__people p {
      margin: 0;
  }

  .toolsik__header-content__input input,
  .toolsik__header-content__input button {
      font-size: 16px;
      line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .toolsik__header-content h1 {
      font-size: 36px;
      line-height: 48px;
  }

  .toolsik__header-content p {
      font-size: 14px;
      line-height: 24px;
  }

  .toolsik__header-content__input input,
  .toolsik__header-content__input button {
      font-size: 12px;
      line-height: 16px;
  }
}


/*Footer*/

.toolsik__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--color-footer);
}

/*Cards*/

.toolsik__toolcard-container {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem/* 8px */;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem/* 24px */;
  display: flex;
  background: var(--color-footer);
  justify-content: space-between;
}



.toolsik__blog-container_article-image img {
  width: 100%;
  height: 100%;
}

.toolsik__blog-container_article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1rem 1.5rem;
  height: 100%;
}

.toolsik__blog-container_article-content p {
  font-family: var(--font-family);
  font-size: 11.65px;
  font-weight: 700;
  line-height: 35px;

  color: #fff;
}

.toolsik__blog-container_article-content h3 {
  font-family: var(--font-family);
  font-size: 25.11px;
  font-weight: 800;
  line-height: 30.30px;
  
  color: #fff;
  margin-bottom: 5rem;
  cursor: pointer;
}

.toolsik__blog-container_article-content p:last-child {
  cursor: pointer;
}


@media screen and (max-width: 550px) {
  .toolsik__blog-container_article-content h3 {
      font-size: 18px;
      line-height: 25p;
  }
}

@media (max-width: 1024px) {
  body {
    overflow:scroll;
  }
}